@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #1a7fbd;
  --lightBlue: #a4dcff;
  --black: #000;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--white);
}

header {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--blue);
}
header > img {
  width: 15vw;
}
nav > a {
  background-color: var(--black);
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
}
nav > a,
li > a {
  font-size: clamp(0.1rem, 0.46em + 1vw, 1rem);
}
@media screen and (max-width: 730px) {
  header {
    flex-direction: column;
  }
  header > img {
    width: 30%;
  }
  nav {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 613px) {
  nav > a {
    margin-top: 24px;
  }
}

ol {
  display: inline-flex;
  list-style-type: none;
}

li {
  margin: 0px 16px;
}

section:first-of-type{
  background-image: url(Assets_Netuno/bannertopo.png);
    background-size: 87%;
    background-position: -130% 30%;
    background-repeat: no-repeat;
    background-color: var(--blue);
    padding-top: 15vh;
}

form {
  width: 368px;
  margin-left: 60%;
  margin-right: 8px;
  border-radius: 8px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 936px) {
  section:first-of-type{
  background-image: url(Assets_Netuno/bannertopo.png);
  background-size: 115%;
  background-position: center;
}
  form {
    margin: 0px auto;
  }
}

#formHeader {
  padding: 24px 24px 0px 24px;
  margin: 8px;
}
#formHeader > h1 {
  font-size: 1.2rem;
  color: #cecece;
}
#formHeader > p {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.9rem;
  margin: 8px 0px;
}

.inputContainer {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  width: 85%;
  margin: 8px auto 0px auto;
}

.inputContainer > input,
select {
  border: 0px;
  width: 90%;
}

select {
  margin-left: 4px;
}

input:focus,
select:focus {
  border: 0;
  outline: 0;
}

.icon {
  width: 16px;
}

#formMain > select {
  width: 97%;
}

#checkboxContainer {
  color: #fff;
  background-color: var(--blue);
  padding: 16px 0;
  margin: 32px auto 0px auto;
}

#checkboxContainer > p,
#checkboxList {
  margin: 0px 0px 8px 16px;
}

#checkboxList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
label {
  cursor: pointer;
}
#checkboxList > label {
  margin: 0 4px;
  width: 30%;
  text-align: left;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: none;
  outline: 1.5px solid #fff;
  border: 1.5px solid var(--blue);
  border-radius: 2px;
  cursor: pointer;
}
input[type="checkbox"]:hover {
  background-color: #ffffff38;
}
input[type="checkbox"]:checked {
  background-color: #fff;
}

#sim,#nao {
  border: 1.5px solid #fff;
  outline: 1.5px solid var(--blue);
}
#sim:checked,#nao:checked  {
  background-color: var(--blue);
}

#question {
  width: 90%;
  margin: 32px auto 0px auto;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.826);
}

#question > p {
  margin: 0px 0px 8px 16px;
}

#question > label > input {
  margin-left: 16px;
}

#requireFieldsSpan {
  margin: 8px 0px 16px 0px;
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--blue);
  text-align: center;
}

button[type="submit"] {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  margin: 8px auto;
  border: 0px;
  width: 90%;
  font-size: 1.3rem;
  padding: 8px 0px;
  border-radius: 4px;
}
button[type="submit"]:hover {
  background-color: #3296d3;
}
button[type="submit"]:focus {
  background-color: #186da1;
}

#advice,
#advice > span {
  width: 60%;
  margin: 0 auto 32px auto;
  font-size: 0.6rem;
  text-align: center;
}

#advice > span {
  color: var(--blue);
}

#theProject {
  background-color: var(--blue);
  padding-bottom: 64px;
}

.divParent {
  display: flex;
  flex-wrap: wrap;
}

.divLeft,
.divRight {
  width: 49%;
}

@media screen and (max-width: 800px) {
  .divLeft {
    width: 100%;
  }
  .divRight {
    width: 100%;
    margin: 0px auto;
  }
  .divLeft > img {
    width: 60%;
    margin-right: 20vw;
  }
  .rightText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.divLeft {
  text-align: right;
}

.rightText {
  width: 80%;
  margin: 64px;
}

.rightText > h1 {
  font-size: 2.3rem;
  color: #a4dcff;
}

.rightText > p {
  color: #fff;
  width: 70%;
  margin: 16px 0px 0px 4px;
  font-weight: 300;
}

.rightText > p:last-child {
  font-weight: 500;
}

/* Segundo container */

#rightText2 > h1 {
  background-image: linear-gradient(
    to right,
    var(--blue) 0%,
    var(--lightBlue) 45%
  );
  background-clip: text;
  color: transparent;
}

#rightText2 > p,
strong {
  color: #000;
  margin: 24px 0px 16px 0px;
}

#rightText2 > p {
  font-weight: 400;
}

#rightText2 > h2 {
  font-size: 1.15rem;
  width: 70%;
  border-bottom: 1.4px solid rgba(215, 215, 215, 0.826);
  margin-top: 24px;
  padding-bottom: 16px;
}

#rightText2 > p > strong {
  font-size: 0.9rem;
  font-weight: 700;
  width: 10%;
}

.cardsContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -136px;
}

.square {
  display: inline-flex;
  flex-wrap: wrap;
  width: 22%;
  height: 192px;
  margin: 0px 2px;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 8px;
  box-shadow: 0px 16px 15px 0px #0000003b;
}

.square1:nth-child(1) {
  background-image: url(Assets_Netuno/icones/um.png);
  background-size: 15%;
  background-position: center;
  background-position-y: 18%;
  background-repeat: no-repeat;
}

.square1:nth-child(2) {
  background-image: url(Assets_Netuno/icones/dois.png);
  background-size: 15%;
  background-position: center;
  background-position-y: 18%;
  background-repeat: no-repeat;
}

.square1:nth-child(3) {
  background-image: url(Assets_Netuno/icones/tres.png);
  background-size: 15%;
  background-position: center;
  background-position-y: 18%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 936px) {

  .square {
    display: block;
    width: 60%;
    height: 100%;
    margin: 32px auto;
    padding-bottom: 8px;
  }
  .square:first-of-type {
    margin-top: 80px;
  }
}

.square > h1 {
  font-size: 1.5rem;
  margin-top: 32px;
  font-weight: 800;
}

.square > p {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0px 11% 8px 11%;
}

#yourJourney {
  width: 100%;
  text-align: center;
  margin: 128px 0px 64px 0px;
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    var(--blue) 45%,
    var(--lightBlue) 60%
  );
  background-clip: text;
  color: transparent;
}

#rectangleContainer {
  width: 80%;
  margin: 0px auto;
}

.rectangle {
  width: 27%;
  height: 68px;
  margin: 8px;
  background-color: var(--blue);
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  text-align: left;
  box-shadow: 0px 8px 12px 0px #0000005c;
}

.rectangle > img {
  width: 10%;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}

.rectangle > p {
  font-size: 0.9rem;
  padding: 0px 8px;
}

@media screen and (max-width: 770px) {
  .rectangle {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 25vh;
    margin: 16px 8px;
    padding-bottom: 8px;
  }

  .rectangle > img {
    width: 30%;
  }
}

#registrationContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#btnDiv {
  margin: 72px 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

#btnDiv > a {
  background-color: #000;
  width: 384px;
  margin-bottom: 16px;
  padding: 16px 0px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  box-shadow: 0px 8px 20px #00000038;
}
#btnDiv > a > span {
  color: var(--blue);
}
#btnDiv > a > img {
  margin-left: 16px;
  width: 5%;
}

#goals {
  background-image: linear-gradient(
    to right,
    var(--blue),
    #4bb4f4,
    var(--blue)
  );
  padding-bottom: 72px;
}
#goals > h1 {
  margin-top: 64px;
  padding: 48px 0px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
#goalsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.square2 {
  background-color: #fff;
  box-shadow: 0px 20px 20px 0px #00000033;
}
.square2 > h2 {
  text-align: center;
  margin: 32px auto 8px auto;
  font-size: 1.7rem;
}

footer {
  background-color: #000;
  color: #fff;
  padding-top: 32px;
}

#footerContainer {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  #footerContainer {
    width: 90%;
  }
}

#footerContainer > div {
  width: 30%;
}

#social * {
  margin: 4px 0px;
}
#social > div > a > img {
  width: 16px;
  margin-right: 8px;
}
#social > p {
  font-size: 0.7rem;
  color: #ffffff9d;
}

#links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#links > div {
  height: 100%;
  margin-top: 8px;
}
#links > div > a {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
}
#links > span {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(148, 148, 148, 0.308);
  padding-right: 8px;
}
#links > span > a {
  font-weight: 300;
  margin-bottom: 8px;
}

#contacts > h2,
address {
  margin-bottom: 8px;
}

@media screen and (max-width: 715px) {
  #footerContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  #footerContainer > div {
    margin: 16px auto;
    width: 60%;
    text-align: center;
  }
  #links > div {
    margin-bottom: 16px;
  }
  #links > span {
    border-right: 0px;
  }
}
